body {
  color: #2e2f42;
  font-family: "Roboto";
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.link-nav,
.address-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
}

.link-nav:hover,
.link-nav-studio:active,
.address-link:hover {
  color: #404bbf;
}

.section-order {
  background-color: #2e2f42;
  color: #fff;
}

.order-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.section-order-title {
  font-size: 56px;
  line-height: 60px;
}

.order-button:hover {
  background-color: #404bbf;
  color: #fff;
  line-height: 24px;
}

.section-stratedy-title,
.section-our-team-title,
.section-our-portfolio-title {
  font-size: 36px;
  line-height: 40px;
}

.list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.list-info {
  font-size: 16px;
  line-height: 24px;
}

.section-our-team {
  background-color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 24px;
}
